/* You can add global styles to this file, and also import other style files */
.global-label-class {
    font-weight: normal;
    color: #000;
  }
  
  .custom-label-class {
    font-weight: bold;
  }
  
  .custom-input-class {
    padding: 10px;
  }
  
  .custom-error-class {
    color: red;
    font-size: 12px;
  }
  
  .custom-button-class {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  